---
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="tropical's site.">
	<Section>
		<img src="/hehe.webp" />
		<br />
		Under construction (isn't it always)
	</Section>
</Layout>

<style>
</style>
