---
import Section from '../components/Section.astro';
import Layout from '../layouts/Layout.astro';

const BUTTONS = [
	"/88x31/riir.gif",
	"/88x31/vexidenowanimated.gif",
	"/88x31/OneShot_button.gif",
	"https://nekoweb.org/assets/buttons/button6.gif",
	"/88x31/Rain_World_button.gif",
	"/88x31/webarchive.gif",
	"/88x31/ublock-now.png",
	"/88x31/ds91.png",
	"/88x31/css.png",
	"/88x31/thirdimpact.png",
	"/88x31/ieget-an.gif",
	"/88x31/susie.png",
	"/88x31/vscbutton.gif",
	"/88x31/gimp.png",
	"/88x31/ezgif.gif",
];
---

<script>
	let failed = false;
	const stats = await fetch(`https://nekoweb.org/api/site/info/tropical`)
		.then(res => res.json())
		.catch(() => failed = true);

	if (!failed) {
		document.getElementById("created")!.innerHTML = `<em>Created</em>: <time>${new Date(stats.created_at).toLocaleDateString()}</time>`;
		document.getElementById("updated")!.innerHTML = `<em>Updated</em>: <time>${new Date(stats.updated_at).toLocaleDateString()}</time>`;
		document.getElementById("views")!.innerHTML = `<em>Views</em>: ${stats.views}`;
		document.getElementById("followers")!.innerHTML = `<em>Followers</em>: ${stats.followers}`;
	} else {
		document.getElementById("stats")!.querySelector(".section-contents")!.innerHTML = "Failed to fetch! 🐕";
	}
</script>

<Layout title="tropical's site.">
	<div id="content">
		<div class="left-column">
			<Section tag="article" title="01. hello!!!!!">
				<h2>welcome to my page!</h2>
				Hey there, i'm Tropical (he/him). I poke at computer<i>s</i> for fun. Finally got around to redesigning my site, since the last <i>o</i>ne was pretty terrible and not mobile-friendly. If you're <i>l</i>ooking for that one, it's still on vercel <a href="https://tropix126.vercel.app/" target="_blank" rel="noreferrer noopener">here</a>.
				<br />
				<br />
				I'm a hobbyst programmer with intere<i>s</i>ts in UI/UX design/accessibility, embedded stuff, fron<i>t</i>end webdev, reverse-engineering, competitive robotics, and music. I also like <i>i</i>ndie and rhythm games. You may have ran across me in a few corners of the internet.
				Anyways, if any of that got your interest, you can <i>c</i>heck out my <a href="/projects">projects</a> page for a list of things i've made or help<i>e</i>d out with. Enjoy your stay! 🌴
			</Section>
			<Section tag="article" title="03. programming">
				<h2>nerd stuff</h2>
				Here's some of the programming stuff I have some level of experience using:
				<ul>
					<li>Rust 🦀</li>
					<li>C/C++</li>
					<li>Typical web stack - HTML, (S)CSS, JS, etc...</li>
					<li>TypeScript, Svelte, SolidJS, React(Native), Astro (like this site?), Node, whatever JS tooling isn't currently garbage right now (currently vite or esbuild or maybe bun)</li>
					<li>Python (enough to write non-serious stuff)</li>
				</ul>

				Stuff I hope to learn eventually:
				<ul>
					<li>RISC-V or ARM Assembly (or maybe just any assembly in general)</li>
					<li>Typst (notebooks don't have to be hell?)</li>
					<li>Kotlin/Java (android dev seems cool)</li>
					<li>Maybe Zig if it becomes more of a thing.</li>
				</ul>
			</Section>
		</div>
		<aside class="right-column">
			<Section decorative id="buttons">
				<marquee aria-hidden="true">
					{BUTTONS.map(url => (
						<img loading="lazy" src={url} width="88" height="31" />
					))}
				</marquee>
			</Section>
			<Section decorative>
				<img class="pipes" alt="Pipes" src="/pipes.svg" width="298" height="187" />
			</Section>
			<Section id="socials" tag="article" title="02. go stalk me">
				<ul>
					<li>
						<a href="https://github.com/tropix126/" target="_blank" rel="noreferrer noopener">GitHub - tropix126</a>
					</li>
					<li>
						<a href="https://twitter.com/tropix126" target="_blank" rel="noreferrer noopener">Twitter - @tropix126</a>
					</li>
					<li>
						<a href="https://reddit.com/u/tropix126" target="_blank" rel="noreferrer noopener">Reddit - u/tropix126</a>
					</li>
					<li>
						<a href="https://discord.com/users/254362351170617345" target="_blank" rel="noreferrer noopener">Discord - @tropicaal</a>
					</li>
					<li>
						<a href="https://twitch.tv/tropix126" target="_blank" rel="noreferrer noopener">Twitch - tropical126</a>
					</li>
					<li>
						<a href="https://www.figma.com/@tropical" target="_blank" rel="noreferrer noopener">Figma - @tropical</a>
					</li>
					<li>
						<a href="https://osu.ppy.sh/users/tropica1" target="_blank" rel="noreferrer noopener">osu - tropica1</a>
					</li>
				</ul>
			</Section>
			<Section decorative id="music">
				<div class="titlebar">
					♪ take care of yourself
					<div class="controls" aria-hidden="true">
						<button tabindex="-1" class="minimize"></button>
						<button tabindex="-1" class="maximize"></button>
						<button tabindex="-1" class="close"></button>
					</div>
				</div>
				<audio controls loop src="/moon.m4a"></audio>
			</Section>
			<Section id="stats" title="04. nekoweb stats (requires JS)">
				<div id="created">
					<em>Created: </em> Loading...
				</div>
				<div id="updated">
					<em>Updated: </em> Loading...
				</div>
				<div id="views">
					<em>Views: </em> Loading...
				</div>
				<div id="followers">
					<em>Followers: </em> Loading...
				</div>
			</Section>
		</aside>
	</div>
</Layout>

<style>
	.left-column {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		gap: 16px;
	}

	aside {
		display: flex;
		flex-direction: column;
		gap: 16px;
		flex: 0 0 auto;
		width: 300px;
	}

	section:last-child {
		margin-bottom:0;
	}

	section.decorative {
		padding: 0;
	}

	.pipes {
		display: block;
		width: 100%;
		height: auto;
		max-height: 250px;
		object-fit: cover;
	}

	#music {
		display: flex;
		flex-direction: column;
		background: silver;
		border: none;
		box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff, 4px 4px 0 var(--border);
		padding: 2px;
	}

	#music audio {
		width: 100%;
		padding: 8px;
	}

	#buttons {
		padding: 4px 0;
	}

	#socials ul {
		margin: 0;
	}

	#stats :global(.section-contents) {
		display: flex;
		flex-direction: column;
	}

	.titlebar {
		display: flex;
		justify-content: space-between;
		padding: 3px 2px 3px 3px;
		background: linear-gradient(90deg, var(--gradient-stop-2), var(--gradient-stop-1));
		color: #000;
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 3px;
	}

	.titlebar .controls {
		display: flex;
	}

	.titlebar .controls button {
		display: block;
		min-height: 14px;
		min-width: 16px;
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: silver;
		box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
	}

	button.minimize {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
		background-position: bottom 4px left 4px;
		background-repeat: no-repeat;
	}

	button.maximize {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
		background-position: top 3px left 3px;
		background-repeat: no-repeat;
	}

	button.close {
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
		background-position: top 4px left 4px;
		background-repeat: no-repeat;
		margin-left: 2px;
	}

	marquee {
		height: 31px;
		display: block;
	}

	marquee img {
		/* As god intended :p */
		width: 88px;
		height: 31px;
		margin-right: 8px;
		image-rendering: pixelated;
	}

	#content {
		display: flex;
		gap: 16px;
		width: 100%;
		margin-top: 16px;
	}

	@media only screen and (max-width: 728px) {
		#content {
			flex-direction: column;
		}
		aside {
			width: 100%;
		}
	}
</style>
