<div class="clover">
	<img alt="Clover" width="64" height="64" src="/clover.png" />
	<img alt="Clover" width="64" height="64" src="/clover2.png" />
</div>

<style>
	@keyframes clover {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	
	.clover {
		position: fixed;
		bottom: 8px;
		right: 8px;
		width: 64px;
		height: 64px;
	}
	
	.clover img {
		top: 0;
		left: 0;
		position: absolute;
		filter: none;
		background: transparent;
	}
	
	.clover img:last-child {
		animation: clover 4s infinite ease;
	}
</style>